@charset "UTF-8";
@font-face {
  font-family: "montserratextrabold";
  src: url(../css/fonts/montserrat-extrabold-webfont.woff2) format("woff2"), url(../css/fonts/montserrat-extrabold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratsemibold";
  src: url(../css/fonts/montserrat-semibold-webfont.woff2) format("woff2"), url(../css/fonts/montserrat-semibold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mkbritishwritingregular";
  src: url(../css/fonts/mkbritishwriting-webfont.woff2) format("woff2"), url(../css/fonts/mkbritishwriting.ttf) format("ttf"), url(../css/fonts/mkbritishwriting-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissant_oneregular";
  src: url(../css/fonts/croissantone-regular-webfont.woff2) format("woff2"), url(../css/fonts/croissantone-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alluraregular";
  src: url(../css/fonts/allura-regular-webfont.woff2) format("woff2"), url(../css/fonts/allura-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "josschriftregular";
  src: url(../css/fonts/josschrift-webfont.woff2) format("woff2"), url(../css/fonts/josschrift-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url(../css/fonts/kaushanscript-regular-webfont.woff2) format("woff2"), url(../css/fonts/kaushanscript-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes points {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wiggle {
  0% {
    translate: 0px;
  }
  25% {
    translate: 10px;
  }
  50% {
    translate: 0px;
  }
  75% {
    translate: -10px;
  }
  100% {
    translate: 0px;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 16px;
}
body h2 {
  font-size: 1.1em;
}

header {
  margin-bottom: 3vh;
  background-color: #569c87;
  height: 7vh;
  text-align: center;
  line-height: 7vh;
  font-family: "montserratextrabold";
}
header a {
  color: #fcca46;
  text-decoration: none;
  font-size: 2em;
  opacity: 1;
}

.nom-restaurant {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: black !important;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3vh;
}
main a {
  color: inherit;
}
main a:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
main .menu p {
  margin-top: 0;
  font-size: 34px;
}

#page__index {
  margin-bottom: 50px;
}

.main__menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.main__menu .prix {
  font-weight: bold;
}

.page__menu {
  line-height: 2.4em;
}
.page__menu h1 {
  text-align: center;
}
.page__menu h1 i {
  display: block;
  font-size: 2.5em;
  color: transparent;
  background: linear-gradient(to left, #f04e5f, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 2px;
}

.lien_menu {
  margin: 35px auto;
  text-align: center;
}
.lien_menu a {
  color: inherit;
  text-decoration: none;
}
.lien_menu a i {
  font-size: 1.2em;
  color: transparent;
  background: linear-gradient(to left, #f04e5f, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 2px;
  margin-right: 2px;
}

.la-note-enchantee {
  background-color: #fcdfda;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-self: center;
  width: 272px;
  height: 390px;
}
.la-note-enchantee a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.la-note-enchantee a h1 {
  margin-top: 0;
}

.le-chic-a-la-française {
  background-color: #fef5fd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-self: center;
  width: 272px;
  height: 390px;
}
.le-chic-a-la-française a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.le-chic-a-la-française a h1 {
  margin-top: 0;
}

.le-délice-des-papilles {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-self: center;
  width: 272px;
  height: 390px;
}
.le-délice-des-papilles a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.le-délice-des-papilles a h1 {
  margin-top: 0;
}

.la-palette-du-gout {
  background-color: #fdfffd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-self: center;
  width: 272px;
  height: 390px;
}
.la-palette-du-gout a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.la-palette-du-gout a h1 {
  margin-top: 0;
}

.la-note-enchantee, .page__la-note-enchantee {
  background-color: #fcdfda;
  font-family: "mkbritishwritingregular";
}
.la-note-enchantee h1, .page__la-note-enchantee h1 {
  margin-top: 50px;
  color: #3d1319;
  font-size: 28px;
}
.la-note-enchantee h1 i, .page__la-note-enchantee h1 i {
  display: block;
  font-size: 2em;
  color: transparent;
  background: linear-gradient(to left, #f04e5f, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 2px;
}
.la-note-enchantee p, .page__la-note-enchantee p {
  color: #3d1319;
}
.la-note-enchantee h2, .la-note-enchantee .prix, .page__la-note-enchantee h2, .page__la-note-enchantee .prix {
  font-size: 20px;
  color: #3d1319;
  font-weight: bold;
}
.la-note-enchantee .intitule, .page__la-note-enchantee .intitule {
  display: flex;
  justify-content: space-between;
}
.la-note-enchantee .intitule h2, .page__la-note-enchantee .intitule h2 {
  flex-basis: 174.5px;
}
.la-note-enchantee .intitule img, .page__la-note-enchantee .intitule img {
  width: 32%;
  flex-shrink: 10;
}

.le-chic-a-la-française, .page__le-chic-a-la-française {
  font-family: "croissant_oneregular";
  text-align: center;
}
.le-chic-a-la-française h1, .page__le-chic-a-la-française h1 {
  font-size: 17px;
  margin-top: 70px;
  color: transparent;
  background: linear-gradient(160deg, #e38a12, #8f5aff);
  background-clip: text;
  -webkit-background-clip: text;
}
.le-chic-a-la-française .entrees, .page__le-chic-a-la-française .entrees {
  color: #c67412;
}
.le-chic-a-la-française .plats, .page__le-chic-a-la-française .plats {
  color: #a56799;
}
.le-chic-a-la-française .desserts, .page__le-chic-a-la-française .desserts {
  color: #6e4ccc;
}
.le-chic-a-la-française p, .page__le-chic-a-la-française p {
  color: #c77412;
  font-family: "croissant_oneregular";
}
.le-chic-a-la-française .l-c-f, .page__le-chic-a-la-française .l-c-f {
  background-color: #fef5fd;
  margin: 0 auto;
  max-width: 576px;
  padding: 0 10px 65px;
  font-size: 12.5px;
}
.le-chic-a-la-française .intitule, .page__le-chic-a-la-française .intitule {
  display: flex;
  justify-content: space-between;
}
.le-chic-a-la-française .intitule h2, .page__le-chic-a-la-française .intitule h2 {
  font-size: 15px;
  flex-basis: 300px;
}
.le-chic-a-la-française .intitule img, .page__le-chic-a-la-française .intitule img {
  width: 30%;
  flex-shrink: 10;
}
.le-chic-a-la-française .intitule h2 + img, .page__le-chic-a-la-française .intitule h2 + img {
  transform: scale(-1);
}

.le-délice-des-papilles h1, .page__le-délice-des-papilles h1 {
  font-family: "alluraregular";
  font-size: 1.75em;
  padding-top: 8px;
  margin-top: 70px;
  margin-bottom: 8.5px;
  color: transparent;
  background: linear-gradient(to right, #0023db, #2495fb);
  background-clip: text;
  -webkit-background-clip: text;
}
.le-délice-des-papilles p, .page__le-délice-des-papilles p {
  color: #0887fb;
  font-family: "josschriftregular";
}
.le-délice-des-papilles .l-d-p, .page__le-délice-des-papilles .l-d-p {
  text-align: center;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 576px;
  padding: 0 10px 65px;
}
.le-délice-des-papilles .l-d-p h1, .page__le-délice-des-papilles .l-d-p h1 {
  font-size: 3.5em;
}
.le-délice-des-papilles .l-d-p article, .page__le-délice-des-papilles .l-d-p article {
  font-family: "josschriftregular";
  font-size: 15px;
}
.le-délice-des-papilles .intitule, .page__le-délice-des-papilles .intitule {
  display: flex;
  justify-content: space-between;
}
.le-délice-des-papilles .intitule h2, .page__le-délice-des-papilles .intitule h2 {
  flex-basis: 207px;
  flex-shrink: 0;
}
.le-délice-des-papilles .intitule img, .page__le-délice-des-papilles .intitule img {
  width: 32%;
  flex-shrink: 10;
}
.le-délice-des-papilles .intitule h2 + img, .page__le-délice-des-papilles .intitule h2 + img {
  transform: scaleX(-1);
}

.la-palette-du-gout h1, .page__la-palette-du-gout h1 {
  font-family: "kaushan_scriptregular";
  font-weight: lighter;
  font-size: 1.7em;
  padding-top: 8px;
  padding-bottom: 24px;
  margin-top: 70px;
  margin-bottom: 8.5px;
  color: transparent;
  background: linear-gradient(to right, #3e923a, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
}
.la-palette-du-gout p, .page__la-palette-du-gout p {
  color: #72bf56;
  font-family: "josschriftregular";
}
.la-palette-du-gout .l-p-d-g, .page__la-palette-du-gout .l-p-d-g {
  text-align: center;
  background-color: #fdfffd;
  margin: 0 auto;
  max-width: 576px;
  padding: 0 10px 65px;
}
.la-palette-du-gout .l-p-d-g article, .page__la-palette-du-gout .l-p-d-g article {
  font-family: "josschriftregular";
  font-size: 15px;
}
.la-palette-du-gout .intitule, .page__la-palette-du-gout .intitule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.la-palette-du-gout .intitule h2, .page__la-palette-du-gout .intitule h2 {
  flex-basis: 153px;
}
.la-palette-du-gout .intitule img, .page__la-palette-du-gout .intitule img {
  width: 32%;
  flex-shrink: 10;
}
.la-palette-du-gout .intitule h2 + img, .page__la-palette-du-gout .intitule h2 + img {
  transform: scale(-1);
}

#prochainement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 272px;
  height: 5vh;
  border-radius: 7px;
  background-color: #569c87;
  color: #fcca46;
  margin: 3vh auto;
}
#prochainement .points {
  animation-name: points;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#prochainement .points .point {
  display: inline-block;
  background-color: #fcca46;
  border-radius: 50px;
  width: 7px;
  height: 7px;
  border: 1px solid #fcca46;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  background-color: #569c87;
  color: #fcca46;
  font-family: "montserratsemibold";
}
footer a {
  margin: 0 5vw;
  text-decoration: none;
  color: #fcca46;
}
footer .footer__btn:hover {
  animation-name: wiggle;
  animation-duration: 550ms;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 575px) {
  .nom-restaurant {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  body {
    margin-bottom: 64px;
    background-color: white;
  }

  .main__index {
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    max-width: 576px;
    margin: auto;
  }

  header {
    height: 12vh;
    line-height: 12vh;
    margin-bottom: 35px;
  }

  .page__menu {
    background-color: white;
  }

  .main__menu {
    margin: 0 17px;
  }

  article h2 {
    text-align: center;
  }

  .repas__prix {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }

  .lien_menu {
    text-align: center;
  }
  .lien_menu a {
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    color: #3d1319;
  }

  .l-n-e {
    background-color: #fcdfda;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 60px;
  }

  .l-c-f {
    padding-bottom: 65px;
  }
  .l-c-f h1 {
    font-size: 2.5em;
  }
  .l-c-f article {
    display: flex;
    flex-direction: column;
  }
  .l-c-f .repas__prix {
    width: 466px;
    align-self: center;
  }

  .l-d-p {
    padding-bottom: 65px;
  }
  .l-d-p article {
    display: flex;
    flex-direction: column;
  }
  .l-d-p .repas__prix {
    width: 452px;
    align-self: center;
  }

  .l-p-d-g h1 {
    font-size: 3.5em;
  }
  .l-p-d-g article {
    display: flex;
    flex-direction: column;
  }
  .l-p-d-g .repas__prix {
    width: 477px;
    align-self: center;
  }

  footer {
    height: 5.5vh;
    line-height: 5.5vh;
  }
}
.l-n-e .entrees h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-n-e .entrees h2:hover {
  background-size: 100% 100%;
}

.l-n-e .plats h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-n-e .plats h2:hover {
  background-size: 100% 100%;
}

.l-n-e .desserts h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-n-e .desserts h2:hover {
  background-size: 100% 100%;
}

.l-c-f .entrees h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #c67412 0%, #c67412 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-c-f .entrees h2:hover {
  background-size: 100% 100%;
}

.l-c-f .plats h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #a56799 0%, #a56799 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-c-f .plats h2:hover {
  background-size: 100% 100%;
}

.l-c-f .desserts h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-c-f .desserts h2:hover {
  background-size: 100% 100%;
}

.l-d-p .entrees h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #0228dd 0%, #0228dd 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-d-p .entrees h2:hover {
  background-size: 100% 100%;
}

.l-d-p .plats h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #0670f3 0%, #0670f3 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-d-p .plats h2:hover {
  background-size: 100% 100%;
}

.l-d-p .desserts h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #229df9 0%, #229df9 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-d-p .desserts h2:hover {
  background-size: 100% 100%;
}

.l-p-d-g .entrees h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #41963c 0%, #41963c 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-p-d-g .entrees h2:hover {
  background-size: 100% 100%;
}

.l-p-d-g .plats h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #75c158 0%, #75c158 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-p-d-g .plats h2:hover {
  background-size: 100% 100%;
}

.l-p-d-g .desserts h2 {
  padding-bottom: 3px;
  background: linear-gradient(to top, #b0f377 0%, #b0f377 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  background-position: left;
  transition: background-size 1500ms;
}
.l-p-d-g .desserts h2:hover {
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
