@font-face {
      font-family: 'montserratextrabold';
      src: url(../css/fonts/montserrat-extrabold-webfont.woff2) format('woff2'),
           url(../css/fonts/montserrat-extrabold-webfont.woff) format('woff');
      font-weight: normal;
      font-style: normal;
  
  }  
  @font-face {
      font-family: 'montserratsemibold';
      src: url(../css/fonts/montserrat-semibold-webfont.woff2) format('woff2'),
           url(../css/fonts/montserrat-semibold-webfont.woff) format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
@font-face {
      font-family: 'croissant_oneregular';
      src: url(../css/fonts/croissantone-regular-webfont.woff2) format('woff2'),
           url(../css/fonts/croissantone-regular-webfont.woff) format('woff');
      font-weight: normal;
      font-style: normal;
  }
@font-face {
font-family: 'alluraregular';
src: url(../css/fonts/allura-regular-webfont.woff2) format('woff2'),
      url(../css/fonts/allura-regular-webfont.woff) format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
      font-family: 'josschriftregular';
      src: url(../css/fonts/josschrift-webfont.woff2) format('woff2'),
           url(../css/fonts/josschrift-webfont.woff) format('woff');
      font-weight: normal;
      font-style: normal;
  }
@font-face {
      font-family: 'kaushan_scriptregular';
      src: url(../css/fonts/kaushanscript-regular-webfont.woff2) format('woff2'),
            url(../css/fonts/kaushanscript-regular-webfont.woff) format('woff');
      font-weight: normal;
      font-style: normal;

}
@font-face {
      font-family: 'typo_comics_bold_demoregular';
      src: url(../css/typo_comics_bold_demo-webfont.woff2) format('woff2'),
           url(../css/fonts/typo_comics_bold_demo-webfont.woff) format('woff');
      font-weight: normal;
      font-style: normal;  
  }  
@font-face {
font-family: 'typo_comics_demoregular';
src: url(../css/fonts/typo_comics_demo-webfont.woff2) format('woff2'),
      url(../css/fonts/typo_comics_demo-webfont.woff) format('woff');
font-weight: normal;
font-style: normal;
}  
@font-face {
font-family: 'typo_comics_light_demoregular';
src: url(../css/fonts/typo_comics_light_demo-webfont.woff2) format('woff2'),
      url(../css/fonts/typo_comics_light_demo-webfont.woff) format('woff');
font-weight: normal;
font-style: normal;
  } 

//variables couleurs fond
$fond-1:rgb(252,223,218);
$fond-2:rgb(254,245,253);
$fond-3:rgb(249,249,249);
$fond-4:rgb(253,255,253);

//menu1
$color1:#3d1319;
//menu2
$vert:rgb(86,156,135);
$jaune:rgb(252,202,70);
$entrée2:#c67412;
$plat2:#a56799;
$dessert2:#6e4ccc;
//menu3
$entrée3:#0228dd;
$plat3:#0670f3;
$dessert3:#229df9;

//variables tailles h2 

$traits:// main-du-menu partie-du-repas couleur
      l-n-e entrees $color1,
      l-n-e plats $color1,
      l-n-e desserts $color1,

      l-c-f entrees $entrée2,
      l-c-f plats $plat2,
      l-c-f desserts $dessert2,

      l-d-p entrees $entrée3,
      l-d-p plats $plat3,
      l-d-p desserts $dessert3,
  
      l-p-d-g entrees #41963c,
      l-p-d-g plats#75c158,
      l-p-d-g desserts#b0f377;

$backgrounds: //nom-restaurant fond
      la-note-enchantee $fond-1,
      le-chic-a-la-française $fond-2,
      le-délice-des-papilles $fond-3,
      la-palette-du-gout $fond-4;


@keyframes points{
   0% {
         opacity:1;
   }
   25%{
         opacity:0.75;
   }
   50% {
         opacity:0.5;
   }
   75%{
         opacity:0.25;
   }
   100% {
         opacity:0;
   }
}
  
@keyframes wiggle{
   0%{
      transform : translate(0px);
      -webkit-transform : translate(0px);
   }
   25%{
      transform : translate(10px);
      -webkit-transform : translate(10px);
   }
   50%{
      transform : translate(0px);
      -webkit-transform : translate(0px);
   }
   75%{
      transform : translate(-10px);
      -webkit-transform : translate(-10px);
   }
   100%{
      transform : translate(0px);
      -webkit-transform : translate(0px);
   }

}
