//variables couleurs

$vert:rgb(86,156,135);
$jaune:rgb(252,202,70);
$fond-1:rgb(252,223,218);
$fond-2:rgb(254,245,253);
$fond-3:rgb(249,249,249);
$fond-4:rgb(253,255,253);

//entréé menu2
$entrée2:#c67412;
$plat2:#a56799;
$dessert2:#6e4ccc;
//menu3
$entrée3:#0228dd;
$plat3:#0228dd;
$dessert3:#229df9;

//variables tailles menus

$height: 390px;
$width:272px;

//variables tailles h2 l-n-e

$traits:
      l-n-e entrees 80px,
      l-n-e plats 140px,
      l-n-e desserts 82px,

      l-c-f entrees 160px,
      l-c-f plats 121px,
      l-c-f desserts 144px,

      l-d-p entrees 141px,
      l-d-p plats 127px,
      l-d-p desserts 121px,
  
      l-p-d-g entrees 57px,
      l-p-d-g plats 112px,
      l-p-d-g desserts 122px;





      


$backgrounds:
   la-note-enchantee rgb(252,223,218),
   le-chic-a-la-française rgb(254,245,253),
   le-délice-des-papilles rgb(249,249,249),
   la-palette-du-gout rgb(253,255,253);


@keyframes points{
   0% {
         opacity:1;
   }
   25%{
         opacity:0.75;
   }
   50% {
         opacity:0.5;
   }
   75%{
         opacity:0.25;
   }
   100% {
         opacity:0;
   }
}
  
@keyframes wiggle{
   0%{
      translate: 0px; 
   }
   25%{
       translate: 10px;
   }
   50%{
       translate: 0px;
   }
   75%{
       translate: -10px;
   }
   100%{
       translate: 0px;
   }

}


// @each $background in $backgrounds{
//       .page__#{nth($background, 1)}{
//           background-color: nth($background, 2);
//       }
//   }