//variables couleurs

$vert:rgb(86,156,135);
$jaune:rgb(252,202,70);
$fond-1:rgb(252,223,218);
$fond-2:rgb(254,245,253);
$fond-3:rgb(249,249,249);
$fond-4:rgb(253,255,253);

//menu1
$color1:#3d1319;
//menu2
$entrée2:#c67412;
$plat2:#a56799;
$dessert2:#6e4ccc;
//menu3
$entrée3:#0228dd;
$plat3:#0670f3;
$dessert3:#229df9;


//variables lignes l-c-f

$couleurs:
    entrees url("../css/svg/Menu2-ligne.svg"),
    plats url("../css/svg/Menu2-ligne-plat.svg"),
    desserts url("../css/svg/Menu2-ligne-dessert.svg");
    

//variables tailles menus

$height: 390px;
$width:272px;

//variables tailles h2 

$traits:
      l-n-e entrees 80px $color1,
      l-n-e plats 140px $color1,
      l-n-e desserts 82px $color1,

      l-c-f entrees 260px $entrée2,
      l-c-f plats 191px $plat2,
      l-c-f desserts 230px $dessert2,

      l-d-p entrees 226px $entrée3,
      l-d-p plats 206px $plat3,
      l-d-p desserts 200px $dessert3,
  
      l-p-d-g entrees 89px #41963c,
      l-p-d-g plats 180px #75c158,
      l-p-d-g desserts 197px #b0f377;

$backgrounds:
   la-note-enchantee rgb(252,223,218),
   le-chic-a-la-française rgb(254,245,253),
   le-délice-des-papilles rgb(249,249,249),
   la-palette-du-gout rgb(253,255,253);


@keyframes points{
   0% {
         opacity:1;
   }
   25%{
         opacity:0.75;
   }
   50% {
         opacity:0.5;
   }
   75%{
         opacity:0.25;
   }
   100% {
         opacity:0;
   }
}
  
@keyframes wiggle{
   0%{
      translate: 0px; 
   }
   25%{
       translate: 10px;
   }
   50%{
       translate: 0px;
   }
   75%{
       translate: -10px;
   }
   100%{
       translate: 0px;
   }

}
