@import "variables";

body{
    box-sizing: border-box;
    margin:0 0 0 0;
    padding:0;
    height:auto;
    font-size:16px;
    h2{
        font-size:1.1em;    
    }
}
header{
    background-color: $vert;   
    height:7vh;
    text-align:center;
    line-height: 7vh;
    margin-bottom:3vh;
    font-family: 'montserratextrabold';
    a{
        color:$jaune;
        text-decoration:none;
        font-size:2em;
        opacity:1;
    }
}
main{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vh;
    a{
        color:inherit;
    }   
    a:hover{
        transform: scale(1.1);
        opacity: 0.5;
    }
    .menu p{
        margin-top:0;
        font-size:34px;
    }
}
.main__menu{
    text-align: center;
    .prix{
        font-weight:bold;
    }
}
.page__menu{
    line-height:2.4em;
    
    h1{    
        text-align:center;
        i{  
            display:block;
            font-size: 2.5em;
            color:transparent;
            background: linear-gradient(to left, #f04e5f, #f6916a);
            background-clip: text;
            margin-bottom:2px;
        }
    }
}
    
.lien_menu{
    margin: 35px auto;
    text-align:center;
    a{
        color:inherit;
        text-decoration: none;
        i{
            font-size:1.2em;
            color:transparent;
            background: linear-gradient(to left, #f04e5f, #f6916a);
            background-clip: text;
            margin-bottom:2px;
            margin-right:2px; 
        }
    }
}


@each $background in $backgrounds {
    .#{nth($background, 1)} {
        background-color:nth($background, 2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2 );
        justify-self: center;
        width:$width;
        height:$height;
        
        a{
            display:flex;
            flex-direction: column;
            width:100%;
            height:100%;
            text-decoration:none;
            text-align: center;
            justify-content: center;

            h1{
                margin-top:0;    
            }    
        }        
    }
}
    
.la-note-enchantee, .page__la-note-enchantee{
    background-color:$fond-1;
    font-family: 'mkbritishwritingregular';
        
    h1{
        margin-top:50px;
        color: $color1;
        font-size: 28px;;
        i{  
            display:block;
            font-size: 2em;
            color:transparent;
            background: linear-gradient(to left, #f04e5f, #f6916a);
            background-clip: text;
            margin-bottom:2px;
        }
    }

    p{
        color:$color1;           
    }
    
    
    h2, .prix{  
        font-size:20px;      
        color: $color1;
        font-weight:bold;
    }
    .intitule{
        display:flex;
        justify-content: space-between;
        h2{
            flex-basis:174.5px;
        }
        img{
            width:32%;
            flex-shrink: 10;
        
        }
    } 
}

.le-chic-a-la-française, .page__le-chic-a-la-française{
    font-family:'croissant_oneregular' ;
    text-align:center;
    h1{
        font-size:17px;
        margin-top:70px;
        color:transparent;
        background: linear-gradient(160deg,#e38a12, #8f5aff );
        background-clip:text;
        -webkit-background-clip: text;
    }
    h2{

    }
    .entrees{
        color:$entrée2;
    }
    .plats{
        color:$plat2;
    }
    .desserts{
        color:$dessert2;
    }
    p{
        color:#c77412;
        font-family:'croissant_oneregular';
    }
    .l-c-f{
        
        background-color:$fond-2;
        margin:0 auto;
        max-width:576px;
        padding:0 10px 65px;
        font-size: 12.5px;
        
    } 
    .intitule{
        display:flex;
        justify-content: space-between;  
        h2{
            font-size:15px;
            flex-basis:300px;
        } 
        img{
            width:30%;   
            flex-shrink: 10;     
        }
        h2 + img{
            transform: scale(-1);
        }
    }    
}

.le-délice-des-papilles, .page__le-délice-des-papilles{
    h1{
        
        font-family:"alluraregular";
        font-size:1.75em;
        padding-top:8px;
        margin-top:70px;
        margin-bottom:8.5px;
        color:transparent;
        background: linear-gradient(to right, #0023db, #2495fb );
        background-clip:text;
        -webkit-background-clip: text;
    } 
    p{
        color:#0887fb;
        font-family: "josschriftregular";

    } 
    .l-d-p{
        
        text-align: center;;
        background-color:$fond-3;
        margin:0 auto;
        max-width:576px;
        padding:0 10px 65px;
        h1{
            font-size:3.5em;
        }
        article{
            font-family: "josschriftregular";
            font-size: 15px;
        }
    }

    .intitule{
        display:flex;
        justify-content: space-between;
        h2{
            flex-basis:207px;
            flex-shrink: 0;
        }
        img{
            width:32%;
            flex-shrink: 10;
        }
        h2 + img{
            transform:scaleX(-1);
        }
    }       
}

.la-palette-du-gout, .page__la-palette-du-gout{
    h1{
        font-family:'kaushan_scriptregular';
        font-weight:lighter;
        font-size:1.7em;
        padding-top:8px;
        padding-bottom:24px;
        margin-top:70px;
        margin-bottom:8.5px;
        color:transparent;
        background: linear-gradient(to right, #3e923a, #beff7f );
        background-clip:text;
        -webkit-background-clip: text;
        
    } 
    p{
        color:#72bf56;
        font-family: "josschriftregular";
    }
    .l-p-d-g{
        text-align: center;;
        background-color:$fond-4;
        margin:0 auto;
        max-width:576px;
        padding:0 10px 65px;
        article{
            font-family:'josschriftregular';
            font-size:15px;
        }
    }        
    .intitule{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        h2{
            flex-basis:153px;
        }
        img{
            width:32%;   
            flex-shrink: 10;     
        }
        h2 + img{
            transform: scale(-1);
        }
    }    
}

#prochainement{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:272px;
    height:5vh;
    border-radius: 7px;
    background-color:$vert;
    color:$jaune;
    margin: 3vh auto;

//animation du bouton prochainement     
  
    .points{
        animation-name: points;
        animation-duration: 1000ms;
        animation-iteration-count:infinite;
        animation-direction:alternate;  
        .point{
            display: inline-block;
            background-color: $jaune;
            border-radius:50px;
            width:7px;
            height:7px;
            border:1px solid $jaune;
            opacity: 1;
        }
    }   
}

footer{
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    display:flex;
    justify-content:space-between;
    height:3.5vh;
    line-height:3.5vh;
    background-color:$vert;
    color:$jaune;
    font-family: 'montserratsemibold';
    a{
        margin: 0 5vw;
        text-decoration:none;
        color:$jaune;
    
    }
    .footer__btn:hover{
        animation-name: wiggle;
        animation-duration: 550ms;
        animation-iteration-count: infinite;
        }
    }    

//encadrage des repas

@media screen and (min-width: 576px){
    body{
        margin-bottom:64px;
        background-color:white;
    }
    .main__index{
        grid-template-columns:1fr 1fr;
        grid-gap: 35px;
        max-width:576px;//calc($width*+35);
        margin:auto;
    }

    header{
        height:12vh;
        line-height: 12vh;
        margin-bottom:35px;
    }
    .page__menu{
    background-color:white;

    }
    .main__menu{
        margin:0 17px;
        
    }

    article h2{
        text-align:center;
    }
    .repas__prix{
        display:flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;

    }
    .lien_menu{
        text-align:center;
        a{
            font-size:23px;
            font-weight:bold;
            text-decoration: none;
            color:#3d1319;
        }
    }
    .l-n-e{        
        background-color:$fond-1;
        margin:0 auto;
        max-width:500px;
        padding:0 60px;

    }
    .l-c-f{
        padding-bottom:65px;
       
        h1{
            font-size:2.5em;
        }
        article{
            display:flex;
            flex-direction: column;
            
        }

        .repas__prix{    
            width:466px;
            align-self: center;   
        }  
    }
    .l-d-p{
        padding-bottom:65px;
        article{
            display:flex;
            flex-direction: column;
        }
        .repas__prix{
            width:452px;
            align-self: center;
    
        }
    }
    .l-p-d-g{
        
        h1{
            font-size:3.5em;
        }
        article{
            display:flex;
            flex-direction: column;
        }
        .repas__prix{
            width:477px;
            align-self: center;
    
        }
    }

    footer{
        height:5.5vh;
        line-height: 5.5vh;
    }
    
}    
@media screen and (min-width:768px){
    

    
    
    
}

//animation pour les h1
@each $trait in $traits{
    .#{nth($trait, 1)} .#{nth($trait, 2)} h2{

        padding-bottom: 3px;
        background:
            linear-gradient(to top, nth($trait, 4)  0%, nth($trait, 4) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        background-position:left;
        transition: background-size 1500ms;
               
        &:hover{
        background-size: 100% 100%;
        
        }     
    }
}



// a supprimer
.main__menu{
    border: solid 1px black;
}